*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.container{
    width: 480px;
    height: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-areas: 
        "b1 b2"
        "b3 b3"
        "b4 b4"
        "b5 b5"
        "b6 b6"
        "b7 b7";
        grid-template-rows: 100px 200px 100px 100px 100px 100px;
    grid-template-columns: 240px 240px;
}

.login{
    color: #1E2772;
    grid-area: b1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.register{
    color: #FD7401;
    grid-area: b2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.logo{
    /* background-color: rgb(255, 127, 217); */
    grid-area: b3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font: normal 17pt Arial;
}

.box1{
    
    grid-area: b4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box2{
    
    grid-area: b5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box3{
    
    grid-area: b6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nome{
    width: 410px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.txt{
    display: flex;
    align-self: flex-start;
    font: normal 7pt Arial;
    padding-left: 50px;
    margin: -10px;
    color: #747373;
}

.fp{
    padding-left: 290px;
}

.box4{
    grid-area: b7;
    
}












form {
    overflow: hidden;
    position: relative;
    width: 80%;
    border-radius: 7px;
  }

  button{
    border: none;
    color: #006eff;
    text-decoration: underline;
    font-size: 11px;
  }
  
  input {
    color: #000000;
    font-size: 28px;
    width: 100%;
    padding: 20px 5px 5px;
    background-color: #e2e2e2;
    border: none;
    border-radius: 7px;
  }
  
  label {
    color: #747373;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #ffffff;
  }
  
  span {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  
  label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #FD7401;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  
  input:focus + label span,
  input:valid + label span {
    transform: translateY(-150%);
    font-size: 14px;
    bottom: 10px;
    color: #FD7401;
  }
  
  input:focus + label::after,
  input:valid + label::after {
    transform: translateX(0%);
  }