body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 350px;
}

li:hover{
    background-color: aquamarine;
}

li{
    padding: 10px;
    cursor: pointer;
    border: solid black 2px;
    margin: 15px;
}
