body {
    background: rgb(17, 90, 224);
    font: normal 15px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 800px ;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(50, 50, 50);
}



footer {  /* rodapé */ 
    color: white;
    font-style:italic ;
    text-align: center;
}